<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SPECTR9000</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.css') }}">
    <!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/my_styles.css') }}">-->
    <script type="text/javascript" src="js/reveal_form.js"></script>
    <script type="text/javascript" src="js/populate_data.js"></script>


</head>
<body>


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container" align="center">
        <h1 class="display-4">SPCTR 9000</h1>
        <h3>
            The best spectrum analyzer ever ! <a href="https://youtu.be/zTDeEJyCmNA?t=39">Tell me why</a>
        </h3>



    </div>


    <div align="center">


        <form method="post" enctype="multipart/form-data">


            <!--            <div class="col-8">-->

            <div class="center_div">
                <!--                <svg width="100%" height="90%">-->
                <!--                    <rect width="90%" height="90%" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)"/>-->
                <!--                </svg>-->


                <input type="file" name="file"
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                <input type="submit"/>


            </div>


            <!--            </form>-->

            <!--        </div>-->


    </div>
</div>


<footer>

    <h1 align="center">Footer</h1>
</footer>
</body>
</html>
