<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Get input</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/my_styles.css') }}">
    <script type="text/javascript" src="js/reveal_form.js"></script>

</head>
<body>

<h1>Get input data</h1>

<form method="post">


    <p>
        <!--Smooth-->
    <h3>Smooth</h3>
    <input type="radio" name="smooth_radio" id="smooth_sg" value="sg" checked>
    <label>
        SG
    </label>
    </input>


    <input type="radio" name="smooth_radio" id="smooth_fft" value="fft"
    >
    <label>
        FFT
    </label>
    </input>

    <br>
    <label>Window size</label>
    <input type="number" id="smooth_window_size" name="smooth_window_size" min="1" max="5" required value="1">
    </p>


    <p>


        <!--Range-->
    <h3>Range</h3>


    <input type="radio" name="range_radio" id="range_1" checked value="range_1">
    <label>
        Range 1
    </label>
    </input>

    <br>
    <input type="radio" name="range_radio" id="range_2" value="range_2"
    >
    <label>
        Range 2
    </label>
    </input>


    <div>
        <input type="radio" name="range_radio" id="range_custom" value="custom_range" required>
        <label>Custom</label>
        </input>
        <div class="reveal-if-active">


            <label>from</label>

            <input type="number" id="range_from" name="range_from" min="1" max="5" class="require-if-active"  value="1">
            <label>to</label>
            </input>


            <input type="number" id="range_to" name="range_to" min="1" max="5" class="require-if-active" value="2">
            <label></label>
            </input>


        </div>


    </div>

    </p>




    <!--    Smooth (range selected) -->

    <h3>Smooth (range selected)</h3>
    <input type="radio" name="smooth_range_radio" id="smooth_range_sg" value="sg" checked>
    <label>
        SG
    </label>
    </input>


    <input type="radio" name="smooth_range_radio" id="smooth_range_fft" value="fft"
    >
    <label>
        FFT
    </label>
    </input>

    <br>
    <label>Window size</label>
    <input type="number" id="smooth_range_window_size" name="smooth_range_window_size" min="1" max="5" required value="1">
    </p>


    <p>
        <button type="submit">Create</button>


</form>

</body>
</html>